<%= render "app/shared/errors", :errors => current_entity.errors.full_messages.uniq %>
<%= form_for current_entity, :url => entity_profile_path, :method => :post do |f| %>
  <div class="form-group <%= current_entity.errors[:name].present? ? "has-error" : ""%>">
    <label for="input-user-company">Organization Name</label>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Company Name" %>
  </div>
  <%= fields_for :primary_address, current_entity.primary_address do |address_fields| %>
    <%= render "app/shared/address_fields", :fields_for_address => address_fields %>
  <% end %>
  <div class="margin-top-15">
    <button type="button" class="btn btn-default pull-left" onclick="App.Helpers.navigateTo('<%= app_root_path %>')">Cancel</button>
    <input type="submit" class="btn btn-primary pull-left margin-left-10" value="Save" />
  </div>
<% end %>
