<%
  entity_user = @user.entity_users.first
  entity      = @user.entities.first
  is_admin    = entity_user.is_entity_admin?
%>
<%= render "app/shared/errors", :errors => @user.errors.full_messages %>
<%= form_for @user, url: register_path(token: @user.confirmation_token), method: :put, :html => { :class => 'no-turboboost' } do |form| %>
  <div class="form-group <%= form.object.errors[:first_name].present? ? "has-error" : ""%>">
    <label for="input-user-fname">Email</label>
    <%= form.text_field :email, :class => "form-control", :placeholder => "Email", :disabled => true %>
  </div>
  <%= fields_for :entity, form.object.entities.first do |entity_fields| %>
    <div class="form-group <%= form.object.entities.first.errors[:name].present? ? "has-error" : ""%>">
      <label for="input-user-company">Organization Name</label>
      <%= entity_fields.text_field :name, :class => "form-control", :placeholder => "Company Name", :disabled => !is_admin %>
    </div>
  <% end if entity && !entity.is_a?(Individual) && entity.users.count == 1 %>
  <div class="form-group <%= form.object.errors[:first_name].present? ? "has-error" : ""%>">
    <label for="input-user-fname">First Name</label>
    <%= form.text_field :first_name, :class => "form-control", :placeholder => "First Name" %>
  </div>
  <div class="form-group <%= form.object.errors[:last_name].present? ? "has-error" : ""%>">
    <label for="input-user-lname">Last Name</label>
    <%= form.text_field :last_name, :class => "form-control", :placeholder => "Last Name" %>
  </div>
  <%= fields_for :entity_user, form.object.entity_users.first do |entity_user_fields| %>
    <div class="form-group <%= form.object.entity_users.first.errors[:title].present? ? "has-error" : ""%>">
      <label for="input-user-company">Title Within Organization</label>
      <%= entity_user_fields.text_field :title, :class => "form-control", :placeholder => "Title Within Organization" %>
    </div>
  <% end if entity && !entity.is_a?(Individual) %>
  <div class="form-group <%= form.object.errors[:password].present? ? "has-error" : ""%>">
    <label for="input-user-email">Password</label>
    <%= form.password_field :password, :class => "form-control", :placeholder => "Password" %>
    <em>Must be at least 8 characters long, contain an uppercase letter, lowercase letter and a number.</em>
  </div>
  <div class="form-group <%= form.object.errors[:password].present? ? "has-error" : ""%>">
    <label for="input-user-email">Confirm Password</label>
    <%= form.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm Password" %>
  </div>
  <div class="form-group text-right">
    <%= form.submit 'SIGN UP', class: 'btn btn-primary' %>
  </div>
<% end %>
