<%= render 'signer_nav_bar' %>
<%
  deal = @signature_packet.deal
%>

<% content_for :back_button do %>
  <%= link_to deal_signature_packets_signature_packets_path(deal_id: deal.id) do %>
    <div class="return-button">
      <%= image_tag 'ic-return.svg' %>
    </div>
    <div class="return-text">
      View all packets in <%= deal.title %>
    </div>
  <% end %>
<% end %>

<%= render 'shared/top_mobile' %>
<div class="processing-container">
  <div class="processing-content">
    <div class="dark-header">
      <div class="title">
        <div class="complete-icon whiteout-ui">
          <i class="mdi mdi-check"></i>
        </div>
        <div>Complete!</div>
      </div>
    </div>
    <div class="text">
      Thank you for submitting your signatures.
    </div>
    <hr>
    <% if @needs_signature_packets_count == 0 %>
      <%= render 'finished' %>
    <% else %>
      <%= render 'more_to_sign' %>
    <% end %>
  </div>
</div>
