<div class="sign-in-wrapper">
  <div class="wrap-narrow">
    <div class="box-middle">
      <div class="inner">
        <div class="center-logo"><a href="#"><%= image_tag "logo.svg" %></a></div>
        <div class="panel panel-window sign-in">
          <div class="center large-text">Reset Password</div>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), method: :put, :html => { :class => 'no-turboboost' }) do |f| %>
            <%= render "app/shared/errors", :errors => resource.errors.full_messages %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
              <%= f.label :password, "New password" %>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
              <em>Must be at least 8 characters long, contain an uppercase letter, lowercase letter and a number.</em>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm new password" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 text-right reset-button">
                    <%= f.submit "RESET MY PASSWORD", class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="form-group">
              <%= link_to "Back to Sign In", new_user_session_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
